# Risk Model/Optimization in Python pyqes

File shows simple example of using Risk Model/Optimization API
The same usage as our [R API](https://github.com/wolferesearch/docs/blob/master/micro-services/api/R/example/test_micsvc.R)

In [1]:
# import the package
from pyqes import micsvc

* Setup a connection object

In [2]:
connect = micsvc.Connection('hjain', 'hjain123')

* Get instance of risk model builder

In [3]:
risk_model_builder = connect.get_risk_model_builder()

In [4]:
risk_model_builder.info()

{'dates': ['2018-01-31',
  '2018-02-28',
  '2018-03-31',
  '2018-04-30',
  '2018-05-31',
  '2018-06-30',
  '2018-07-31',
  '2018-08-31',
  '2018-09-30',
  '2018-10-31',
  '2018-11-30',
  '2018-12-31'],
 'endTime': '"2019-02-15 18:17:35.189583"',
 'message': 'Job Completed',
 'startTime': '"2019-02-15 18:17:09.112369"',
 'status': 'SUCCESS',
 'uuid': '61a2bbda-81cc-49c1-b451-39f9356aa3fa'}

* Submit a new risk model builder request

In [11]:
risk_model_builder.new_request(universe = 'SP500',
                               template = 'default',
                               startDate = '2018-01-31',
                               endDate = '2018-12-31',
                               freq = '1me')

* Wait for it to finish

In [13]:
risk_model_builder.wait(max_wait_secs = 600)

* Download all data to a directory

In [5]:
risk_model_builder.download_all('QES-Risk-Model-Data')

True

### Portfolios & Factors
* Uploading the Portfolio

In [5]:
# using pandas dataframe to check the condition
import pandas as pd

In [6]:
connect.upload_portfolio(id = 'Custom_Port1', filename = 'sample-port.csv')

* See the uploaded portfolio

In [7]:
catalog = connect.get_catalog()

portfolios = catalog.get_portfolios()

In [8]:
pd.DataFrame(portfolios).head(10)

                 ID UPLOADEDBY              UPLOADEDTIME
0       Custom_Port      hjain  2019-02-13T00:00:00.000Z
1              A1A2      hjain  2019-02-13T00:00:00.000Z
2        hjPortDemo      hjain  2019-01-29T00:00:00.000Z
3         TrialPort      hjain  2019-01-29T00:00:00.000Z
4    New_Port___HJ1      hjain  2019-01-23T00:00:00.000Z
5    New_Port___HJ0      hjain  2019-01-14T00:00:00.000Z
6  A1_port_20181126      hjain  2018-11-26T00:00:00.000Z
7  A1_port_20181123      hjain  2018-11-23T00:00:00.000Z
8  A1_port_20181118      hjain  2018-11-18T00:00:00.000Z
9  A1_port_20181106      hjain  2018-11-06T00:00:00.000Z

* See the new factor

In [9]:
factors = catalog.get_factors()

In [10]:
pd.DataFrame(factors).head(10)

,CATEGORY,DESCRIPTION,ID,SUBCATEGORY
0,Value,Total yield (dividend + share change),DIVYLD_BB,Dividend
1,Value,"Operating cash flow yield, FY1",CFOYLD_FY1,Cash flow
2,Value,"Dividend yield, FY1",DIVYLD_FY1,Dividend
3,Value,"Earnings yield, FY1 Median",EPSYLD_FY1,Earnings
4,Value,"Earnings yield, FY2 Median",EPSYLD_FY2,Earnings
5,Value,"Earnings yield (LTM, basic) x 5Y Exp Growth",EPSYLD_GRO,GARP
6,Value,"Earnings yield (LTM, basic) x (5Y Exp Growth +...",EPSYLD_GRO_DIVY,GARP
7,Value,"Earnings yield, NTM Median",EPSYLD_NTM,Earnings
8,Value,"Book-to-market, FY1",BOOKP_FY1,Book
9,Value,Target price implied return,TP_RTN,Target price